[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/2.1%20FinanceDataReader%EB%A5%BC%20%ED%86%B5%ED%95%9C%20%EC%83%81%EC%9E%A5%EC%A2%85%EB%AA%A9%20%EC%A0%84%EC%B2%B4%20%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0-input.ipynb)



## FinanceDataReader 란?

* 한국 주식 가격, 미국주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

* [FinanceData/FinanceDataReader: Financial data reader](https://github.com/FinanceData/FinanceDataReader)
* [FinanceDataReader 사용자 안내서 | FinanceData](https://financedata.github.io/posts/finance-data-reader-users-guide.html)
* https://pandas-datareader.readthedocs.io/en/latest/readers/index.html

## 설치

In [ ]:
# 주석을 풀고 설치해 주세요. 주석을 푸는 방법은 아래 코드의 맨 앞에 있는 #을 지워주시면 됩니다.
# !pip install -U finance-datareader

## 라이브러리 불러오기

In [1]:
# 데이터 분석을 위해 pandas 불러오기
import pandas as pd

In [2]:
# FinanceDataReader 를 fdr 별칭으로 불러옵니다.
# 라이브러리의 version을 확인하고 싶을 때는 .__version__ 으로 확인합니다. 
import FinanceDataReader as fdr
fdr.__version__

'0.9.50'

## 한국거래소 상장종목 전체 가져오기

In [3]:
# 도움말을 보고자 할때는 ? 를 사용하고 소스코드를 볼 때는 ??를 사용합니다.
# 주피터 노트북에서는 함수나 메소드의 괄호 안에서 shift + tab 키를 누르면 도움말을 볼 수 있습니다.

# fdr.StockListing??
fdr.StockListing("KRX")

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,71400,2,-100,-0.14,71200,72000,71100,6540023,467381527800,426242474070000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,535000,2,-15000,-2.73,538000,539000,530000,1692709,897342661500,125190000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,114100,1,700,0.62,113200,114800,112800,1241102,141317094823,83065069846500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,722000,2,-1000,-0.14,722000,723000,712000,43491,31168523000,51387628000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,59200,2,-100,-0.17,59300,59600,59000,302445,17924673500,48714892640000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2729,001745,KR7001741008,SK네트웍스우,KOSPI,,13500,2,-300,-2.17,23550,23550,13500,63932,1085168330,1534248000,113648,STK
2730,322190,KR7322190000,베른,KONEX,일반기업부,154,1,19,14.07,154,154,135,21029,3213887,1374480338,8925197,KNX
2731,308700,KR7308700004,테크엔,KONEX,일반기업부,289,1,34,13.33,255,289,255,5157,1480173,1156000000,4000000,KNX
2732,004565,KR7004561007,현대비앤지스틸우,KOSPI,,9390,2,-1730,-15.56,11200,11200,9390,41208,415323680,1031510280,109852,STK
2733,000547,KR7000542001,흥국화재2우B,KOSPI,,6000,2,-620,-9.37,6500,6500,5600,34267,206903170,921600000,153600,STK

In [4]:
# KRX : KRX 종목 전체
# KOSPI : KOSPI 종목
# KOSDAQ : KOSDAQ 종목
# KONEX : KONEX 종목
# NASDAQ : 나스닥 종목
# NYSE : 뉴욕증권거래소 종목
# SP500 : S&P500 종목
fdr.StockListing("NYSE")

100%|█████████████████████████████████████████████████████████████████████████████| 3104/3104 [00:04<00:00, 743.45it/s]

,Symbol,Name,Industry,IndustryCode
0,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADR,반도체,57101010
1,V,Visa Inc,온라인 서비스,57201030
2,BRK.B,Berkshire Hathaway Inc Class B,소비재 대기업,54401010
3,UNH,UnitedHealth Group Inc,의료 관리,56102020
4,LLY,Eli Lilly and Co,제약,56201040
...,...,...,...,...
3099,RSF RT WI,RiverNorth Capital and Income Fund Rights Exp ...,폐쇄형 펀드,55501030
3100,VTS WI,Vitesse Energy Inc,"오일, 가스 탐사 및 생산",50102020
3101,KIO RT WI,KKR Income Opportunities Rights Exp 16th Feb 2...,폐쇄형 펀드,55501030
3102,IGR RT WI,CBRE Global Real Estate Income Rights When Iss...,폐쇄형 펀드,55501030
3103,KNF WI,Knife River Corp,건설 자재,51202010

In [ ]:
# 한국거래소 상장종목 전체 가져오기

In [ ]:
# 행과 열의 크기를 봅니다.(행, 열) 순

In [ ]:
# 전체 데이터프레임의 요약정보를 봅니다.

In [ ]:
# 기술통계 값을 요약합니다.

## 파일로 저장하고 불러오기
<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [ ]:
# head 로 미리보기

In [ ]:
# to_csv로 Dataframe을 데이터 저장용 파일인 CSV 파일로 바꿀 수 있습니다.

In [ ]:
# CSV로 저장된 파일을 다시 DataFrame으로 읽어서 확인해 봅니다.