[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/2.1%20FinanceDataReader%EB%A5%BC%20%ED%86%B5%ED%95%9C%20%EC%83%81%EC%9E%A5%EC%A2%85%EB%AA%A9%20%EC%A0%84%EC%B2%B4%20%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0-input.ipynb)



## FinanceDataReader 란?

* 한국 주식 가격, 미국주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

* [FinanceData/FinanceDataReader: Financial data reader](https://github.com/FinanceData/FinanceDataReader)
* [FinanceDataReader 사용자 안내서 | FinanceData](https://financedata.github.io/posts/finance-data-reader-users-guide.html)
* https://pandas-datareader.readthedocs.io/en/latest/readers/index.html

## 설치

In [ ]:
# 주석을 풀고 설치해 주세요. 주석을 푸는 방법은 아래 코드의 맨 앞에 있는 #을 지워주시면 됩니다.
# !pip install -U finance-datareader

## 라이브러리 불러오기

In [1]:
# 데이터 분석을 위해 pandas 불러오기
import pandas as pd

In [2]:
# FinanceDataReader 를 fdr 별칭으로 불러옵니다.
# 라이브러리의 version을 확인하고 싶을 때는 .__version__ 으로 확인합니다. 
import FinanceDataReader as fdr
fdr.__version__

'0.9.50'

## 한국거래소 상장종목 전체 가져오기

In [3]:
# 도움말을 보고자 할때는 ? 를 사용하고 소스코드를 볼 때는 ??를 사용합니다.
# 주피터 노트북에서는 함수나 메소드의 괄호 안에서 shift + tab 키를 누르면 도움말을 볼 수 있습니다.

# fdr.StockListing??
# KRX : 한국거래소 상장종목 불러오기 
fdr.StockListing("KRX")

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,72500,1,600,0.83,72400,72600,71900,3561199,257650672300,432809234875000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,539000,1,5000,0.94,535000,541000,534000,125065,67185696000,126126000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,114700,2,-700,-0.61,115400,117000,114200,993842,115057738400,83501871265500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,742000,1,12000,1.64,738000,743000,736000,20797,15383984000,52811108000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,59600,1,100,0.17,60000,60100,59500,206660,12353675800,49044047320000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2729,322190,KR7322190000,베른,KONEX,일반기업부,150,1,18,13.64,151,151,150,3,451,1338779550,8925197,KNX
2730,308700,KR7308700004,테크엔,KONEX,일반기업부,300,4,39,14.94,300,300,300,200,60000,1200000000,4000000,KNX
2731,001745,KR7001741008,SK네트웍스우,KOSPI,,8000,2,-4150,-34.16,8520,8520,7840,16117,130399120,909184000,113648,STK
2732,004565,KR7004561007,현대비앤지스틸우,KOSPI,,8230,2,-1970,-19.31,7960,8230,7960,14883,119423300,904081960,109852,STK
2733,000547,KR7000542001,흥국화재2우B,KOSPI,,5000,2,-1910,-27.64,5190,5190,5000,14810,75141920,768000000,153600,STK

In [6]:
# KRX : KRX 종목 전체
# KOSPI : KOSPI 종목
# KOSDAQ : KOSDAQ 종목
# KONEX : KONEX 종목
# NASDAQ : 나스닥 종목
# NYSE : 뉴욕증권거래소 종목
# SP500 : S&P500 종목
df_krx = fdr.StockListing("KRX")

In [8]:
# 한국거래소 상장종목 전체 가져오기
df_krx.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,72400,1,500,0.70,72400,72600,71900,3674125,265827715800,432212256620000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,538000,1,4000,0.75,535000,541000,534000,139098,74738681000,125892000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,114400,2,-1000,-0.87,115400,117000,114200,1059507,122574680500,83283470556000,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,744000,1,14000,1.92,738000,745000,736000,23831,17639385000,52953456000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,59600,1,100,0.17,60000,60100,59500,217302,12987915200,49044047320000,822886700,STK

In [10]:
# 행과 열의 크기를 봅니다.(행, 열) 순
df_krx.shape

# 수집하는 시기에 따라, 폐지/신규/...등 변화가 있을 수 있다. 
# 제공하는 데이터가 때마다 달라질 수 있다.

(2734, 17)

In [11]:
# 전체 데이터프레임의 요약정보를 봅니다.
df_krx.info()

# symbol == code

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2734 entries, 0 to 2733
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         2734 non-null   object
 1   ISU_CD       2734 non-null   object
 2   Name         2734 non-null   object
 3   Market       2734 non-null   object
 4   Dept         2734 non-null   object
 5   Close        2734 non-null   object
 6   ChangeCode   2734 non-null   object
 7   Changes      2734 non-null   int64
 8   ChagesRatio  2734 non-null   float64
 9   Open         2734 non-null   int64
 10  High         2734 non-null   int64
 11  Low          2734 non-null   int64
 12  Volume       2734 non-null   int64
 13  Amount       2734 non-null   int64
 14  Marcap       2734 non-null   int64
 15  Stocks       2734 non-null   int64
 16  MarketId     2734 non-null   object
dtypes: float64(1), int64(8), object(8)
memory usage: 363.2+ KB

# 기술통계 값을 요약합니다.

In [23]:
df_krx.describe()

,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks
count,2734.000000,2734.000000,2734.000000,2734.000000,2734.000000,2.734000e+03,2.734000e+03,2.734000e+03,2.734000e+03
mean,189.475860,0.876298,20788.758230,21109.301756,20551.216167,2.348796e+05,3.217161e+09,9.119792e+11,4.174626e+07
std,1132.972447,2.671497,53789.713194,54701.853001,53193.975218,1.448315e+06,2.026423e+10,9.238735e+12,1.342697e+08
min,-12000.000000,-34.160000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,7.680000e+08,1.098520e+05
25%,0.000000,0.000000,2816.250000,2886.250000,2790.000000,5.117500e+03,2.979146e+07,6.230103e+10,1.000544e+07
50%,25.000000,0.550000,6695.000000,6815.000000,6610.000000,2.397700e+04,1.492234e+08,1.247123e+11,1.948943e+07
75%,140.000000,1.450000,16697.500000,16897.500000,16400.000000,9.117925e+04,8.667068e+08,3.041116e+11,4.101967e+07
max,23000.000000,28.300000,908000.000000,958000.000000,883000.000000,3.774211e+07,4.981214e+11,4.322123e+14,5.969783e+09

# 위의 krx으로 불러온 파일과 실습할 파일의 내용이 다르기 때문에 다시 불러왔다.

### ⚠️ 종목명 영문 출력시 공지사항 ⚠️
해당 수업은 실시간으로 한국거래소에서 FinanceDataReader 라는 라이브러리를 통해 데이터를 받아오고 있습니다.

아래 링크에 있는 라이브러리의 소스코드가 KRX 전체 종목을 가져오는 소스코드입니다.

[FinanceDataReader/listing.py at master · FinanceData/FinanceDataReader](https://github.com/FinanceData/FinanceDataReader/blob/master/krx/listing.py)

이 때, 전체 상장종목과 거래할 수 있는 ETF 등의 종목도 함께 가져오게 되는데,

FinanceDataReader 에서는 코스피, 코스닥, 코넥스 정보가 있는 엑셀파일과 금융상품 정보가 있는 JSON 데이터를 가져와서 병합하는 형태로 데이터를 제공하고 있습니다.

그런데 최근 JSON 데이터의 종목명이 영문으로 변경되어 제공되고 있음을 확인했습니다.

그래서 아래의 엑셀 데이터를 read_html 로 읽어오게 되면 한글로 된 종목명을 받아서 분석해 보실 수 있습니다.

In [24]:
import pandas as pd

url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13'
df_listing = pd.read_html(url, header=0)[0]
cols_ren = {'회사명':'Name', '종목코드':'Symbol', '업종':'Sector', '주요제품':'Industry', 
                    '상장일':'ListingDate', '결산월':'SettleMonth',  '대표자명':'Representative', 
                    '홈페이지':'HomePage', '지역':'Region', }
df_krx = df_listing.rename(columns = cols_ren)
df_krx['Symbol'] = df_krx['Symbol'].apply(lambda x: '{:06d}'.format(x))
df_krx['ListingDate'] = pd.to_datetime(df_krx['ListingDate'])
df_krx

,Name,Symbol,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,AJ네트웍스,095570,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,손삼달,http://www.ajnet.co.kr,서울특별시
1,BNK금융지주,138930,기타 금융업,금융지주회사,2011-03-30,12월,빈대인,http://www.bnkfg.com,부산광역시
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
3,GS,078930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월,"허태수, 홍순기 (각자 대표이사)",NaN,서울특별시
4,HDC현대산업개발,294870,건물 건설업,"외주주택, 자체공사, 일반건축, 토목 등",2018-06-12,12월,"최익훈, 정익희, 김회언 (각자 대표이사)",http://www.hdc-dvp.com,서울특별시
...,...,...,...,...,...,...,...,...,...
2634,카이바이오텍,446600,의약품 제조업,방사성 진단 및 치료 의약품,2022-12-23,12월,김영덕,http://www.kaibiotech.com/,전라북도
2635,코스텍시스템,169670,특수 목적용 기계 제조업,"반도체 웨이퍼 이송장비, 본딩장비",2022-01-21,12월,배준호,http://www.kosteks.com/,경기도
2636,타임기술,318660,소프트웨어 개발 및 공급업,"ILS(종합군수지원), IETM(전자식기술교범), CBT(전자식교보재), 기술번역",2021-06-24,12월,주양효,http://timett.co.kr,경상남도
2637,테크엔,308700,전구 및 조명장치 제조업,LED조명장치,2018-12-21,12월,"이지원,박철(각자 대표이사)",http://www.techen.co.kr,대구광역시
2638,한국미라클피플사,331660,기타 화학제품 제조업,"은나노스텝, 닥터오렌지 등",2019-10-28,12월,이호경,http://www.kmpc.co.kr,경기도

In [25]:
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2639 entries, 0 to 2638
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            2639 non-null   object
 1   Symbol          2639 non-null   object
 2   Sector          2639 non-null   object
 3   Industry        2624 non-null   object
 4   ListingDate     2639 non-null   datetime64[ns]
 5   SettleMonth     2639 non-null   object
 6   Representative  2639 non-null   object
 7   HomePage        2466 non-null   object
 8   Region          2639 non-null   object
dtypes: datetime64[ns](1), object(8)
memory usage: 185.7+ KB

In [27]:
df_krx.describe()

C:\Users\petpulslab\AppData\Local\Temp\ipykernel_25692\2191770547.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_krx.describe()

,Name,Symbol,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,2639,2639,2639,2624,2639,2639,2639,2466,2639
unique,2611,2611,159,2411,1942,10,2494,2418,23
top,바이오프로테크,199290,소프트웨어 개발 및 공급업,기업인수합병,1976-06-30 00:00:00,12월,김종현,http://pharmaresearch.co.kr,서울특별시
freq,2,2,168,40,8,2577,5,2,1059
first,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2023-07-12 00:00:00,NaN,NaN,NaN,NaN

## 파일로 저장하고 불러오기
<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [28]:
# head 로 미리보기
df_krx.head()

,Name,Symbol,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,AJ네트웍스,095570,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,손삼달,http://www.ajnet.co.kr,서울특별시
1,BNK금융지주,138930,기타 금융업,금융지주회사,2011-03-30,12월,빈대인,http://www.bnkfg.com,부산광역시
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
3,GS,078930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월,"허태수, 홍순기 (각자 대표이사)",NaN,서울특별시
4,HDC현대산업개발,294870,건물 건설업,"외주주택, 자체공사, 일반건축, 토목 등",2018-06-12,12월,"최익훈, 정익희, 김회언 (각자 대표이사)",http://www.hdc-dvp.com,서울특별시

In [29]:
# to_csv로 Dataframe을 데이터 저장용 파일인 CSV 파일로 바꿀 수 있습니다.
df_krx.to_csv("krx.csv", index=False)

In [30]:
# CSV로 저장된 파일을 다시 DataFrame으로 읽어서 확인해 봅니다.
pd.read_csv("krx.csv")

,Name,Symbol,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,AJ네트웍스,95570,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,손삼달,http://www.ajnet.co.kr,서울특별시
1,BNK금융지주,138930,기타 금융업,금융지주회사,2011-03-30,12월,빈대인,http://www.bnkfg.com,부산광역시
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
3,GS,78930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월,"허태수, 홍순기 (각자 대표이사)",NaN,서울특별시
4,HDC현대산업개발,294870,건물 건설업,"외주주택, 자체공사, 일반건축, 토목 등",2018-06-12,12월,"최익훈, 정익희, 김회언 (각자 대표이사)",http://www.hdc-dvp.com,서울특별시
...,...,...,...,...,...,...,...,...,...
2634,카이바이오텍,446600,의약품 제조업,방사성 진단 및 치료 의약품,2022-12-23,12월,김영덕,http://www.kaibiotech.com/,전라북도
2635,코스텍시스템,169670,특수 목적용 기계 제조업,"반도체 웨이퍼 이송장비, 본딩장비",2022-01-21,12월,배준호,http://www.kosteks.com/,경기도
2636,타임기술,318660,소프트웨어 개발 및 공급업,"ILS(종합군수지원), IETM(전자식기술교범), CBT(전자식교보재), 기술번역",2021-06-24,12월,주양효,http://timett.co.kr,경상남도
2637,테크엔,308700,전구 및 조명장치 제조업,LED조명장치,2018-12-21,12월,"이지원,박철(각자 대표이사)",http://www.techen.co.kr,대구광역시
2638,한국미라클피플사,331660,기타 화학제품 제조업,"은나노스텝, 닥터오렌지 등",2019-10-28,12월,이호경,http://www.kmpc.co.kr,경기도